* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    box-sizing: border-box;

}

header {
    background-image: url(img/header.jpg);
    background-size: cover;
    height: 600px;
}

header div {
    position: relative;
    top: 250px;
}

h1 {
    font-size: 4.2em;
    text-transform: uppercase;
    color: rgb(0, 123, 255, 0.8);
    font-weight: 400;
}

.marg::after {
    display: block;
    content: "";
    width: 70px;
    border-bottom: 2px solid #333;
    margin: 0 auto;
}

main .marg::after,
section .marg::after,
article .marg:after {
    height: 10px;
}

p {
    font-size: 1.3em;
    margin: 20px 0;
}

header div button,
header div a {
    background-color: #f2f1ed;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #333;
}




/* style dla portfolio */
header div a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #333;
    font-family: "Open Sans", sans-serif;
}

li a {
    color: white;
    text-decoration: none;
}






nav {
    background-color: #007bff;
    font-weight: 400;
}

nav ul {
    list-style-type: none;
    padding: 15px;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    color: white;
}

nav ul li:nth-child(2) {
    margin: 0 50px;
}

main,
section,
article {
    padding: 120px 0;
    width: 820px;
    margin: 0 auto;
}

h2 {
    font-size: 1.9em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 55px;
}

main p {
    color: #777;
    line-height: 1.4;
    width: 95%;
    margin: 10px auto 30px auto;

}

main img {
    border-radius: 25%;
    width: 250px;
}

main button {
    background-color: inherit;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #333;
}

section {
    background-color: #f2f1ed;
    width: 100%;
    position: relative;
}

.pictures {
    width: 820px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    background-color: #007bff;
    cursor: pointer;
}

section img {
    width: 25%;
    z-index: 1;
}

.photo {
    display: inline;
    position: absolute;
    color: white;
    left: 245px;
    top: 265px;
    z-index: 0;
}

/* 
.photo1 {
    position: absolute;
    left: 445px;
    top: 256px;
}

.photo2 {
    position: absolute;
    left: 650px;
    top: 256px;
}

.photo3 {
    position: absolute;
    left: 860px;
    top: 256px;
}

.photo4 {
    position: absolute;
    left: 245px;
    top: 375px;
}

.photo5 {
    position: absolute;
    left: 445px;
    top: 375px;
}

.photo6 {
    position: absolute;
    left: 655px;
    top: 375px;
}

.photo7 {
    position: absolute;
    left: 860px;
    top: 375px;
}

.photo8 {
    position: absolute;
    left: 245px;
    top: 510px;
}

.photo9 {
    position: absolute;
    left: 445px;
    top: 510px;
}

.photo10 {
    position: absolute;
    left: 655px;
    top: 510px;
}

.photo11 {
    position: absolute;
    left: 860px;
    top: 510px;
} */

section .pictures img:hover {
    opacity: 0.3;
    transition: 0.2s;
}

/* .pictures:has(img:hover)>img:not(:hover) {
    opacity: 0.4;
} */

form {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    padding: 10px 20px;
    flex-basis: 47%;
    border: 2px solid #f2f1ed;
    color: #333;
}

form input:nth-child(3) {
    flex-basis: 100%;
    margin-top: 10px;
    height: 70px;
}

article button {
    margin: 10px auto 30px auto;
    width: 36%;
    background-color: inherit;
    padding: 10px 20px;
    border: 2px solid #007bff;
    font-size: 12px;
    cursor: pointer;
}

.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline;
    margin: 5px 20px;
    font-size: 1.3em;
    color: #007bff;
    cursor: pointer;
}




/* style dla portfolio */
.social ul li a {
    color: #007bff;
}






footer {
    background-color: #f2f1ed;
    padding: 15px 0;
}

@media (max-width:992px) {
    html {
        max-width: 768px;
    }

    main,
    section,
    article,
    nav,
    header,
    footer {
        width: 770px;
        margin: 0 auto;
    }

    h1 {
        font-size: 3.7em;
    }

    .pictures {
        width: 600px;
    }

    main p {
        width: 80%;
    }
}

@media (max-width:1200px) {
    html {
        max-width: 992px;
    }
}